.DS_Store
__pychache__/
*.py[cod]
.venv
.env
.asv
.m~
.log
.smcl
.gph
.dta
.aux
.bbl
.blg
.fbd_latexmk
.fls
.log
.out
.synctex.gz
.toc
*.venv
*.env
*.asv
*.m~
*.log
*.smcl
*.gph
*.dta
*.aux
*.bbl
*.blg
*fbd_latexmk
*.fbd_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
data/
